<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>addVacancyPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-success border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal text-white">Редагування вакансії</h3>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="/">На головну</a>
    </nav>
</div>
<div class="container mt-5 mb-5">
    <form method="post">
        <input type="text" name="vacancyName" placeholder="Введіть назву нової вакансії" class="form-control"
               th:value="${vacancy.vacancyName}">
        <br>
        <textarea name="vacancyQualification" placeholder="Введіть вимоги до кваліфікації кандидата"
                  class="form-control" th:text="${vacancy.vacancyQualification}"/>
        <br>
        <textarea name="vacancyObligation" placeholder="Введіть в чому буде полягати робота кандидата"
                  class="form-control" th:text="${vacancy.vacancyObligation}"/>
        <br>
        <textarea type="text" name="vacancyDirector" placeholder="Введіть рівень підпорядкування"
                  class="form-control" th:text="${vacancy.vacancyDirector}"/>
        <br>
        <input type="text" name="vacancySalary" placeholder="Введіть сукупний дохід" class="form-control"
               th:value="${vacancy.vacancySalary}">
        <br>
        <input type="text" name="vacancyLocation" placeholder="Введіть локацію" class="form-control"
               th:value="${vacancy.vacancyLocation}">
        <br>
        <textarea type="text" name="vacancyAssessment" placeholder="Введіть етапи оцінки"
                  class="form-control" th:text="${vacancy.vacancyAssessment}"/>
        <br>
        <input type="text" name="vacancyEndDate" placeholder="Введіть фінальну дату закриття вакансії"
               class="form-control" th:value="${vacancy.endVacancyDate}">
        <br>
        <button type="submit" class="btn btn-success">Оновити вакансію</button>
    </form>
</div>
<div class="container mt-5">
    <h6>Створено by Fridrich_von_Gutem, он же Мойша, та за підтримки HR_Corporation</h6>
</div>
</body>
</html>